@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Jura:wght@300&display=swap');
/* Main structure styling */
html, body{
    background-color: rgb(9, 50, 128);
    color: #f5f5f5;
    font-family: 'Istok Web', 'sans-serif';
    margin:0;
    padding:0;
    height:90%;
    padding-bottom: 120px;
    
}
header{
    background-color:#f5f5f5 ;
    color:rgb(9, 50, 128) ;
    width: 100%;
    height: 120px;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}
footer{
    width: 100%;
    height: 50px;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
    
}   
/* Button style */
.buttons{
    border: transparent;
    font-size: .5rem;
    width: 100%;
    height: 90px;
    text-align: center;
    margin: 0 auto;
    

}
.rock-btn {
    font-size: 65px;
    color: red;
    background-color: lightblue;
    border: indigo;
    border-style: groove;
}
.paper-btn{
    font-size: 65px;
    color:slateblue;
    background-color: lightblue;
    border: indigo;
    border-style: groove;
}
.scissors-btn{
    font-size: 65px;
    color: green;
    background-color: lightblue;
    border: indigo;
    border-style: groove;

}
/*  this style has been taken from love maths project */
.game-area{
    height:85%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
}

.player{
    display: inline-block;
    
}
.comp{
    display: inline-block;
}